body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family-primary;
  color: $white;
  background: linear-gradient(180deg, rgb(45, 84, 151), rgb(19, 19, 39));
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

.board {
  display: flex;
  padding: 20px;
  gap: 12px;
  overflow: auto;
  min-height: calc(100vh - 40px);

  &::-webkit-scrollbar {
    height: 14px;
  }

  &::-webkit-scrollbar-track {
    padding: 2px;
    background-color: rgba(16, 18, 4, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 7px;
  }
}
