body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family-primary;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
}

.board {
  display: flex;
  padding: 20px;
  gap: 12px;
}
