.list {
  padding: 8px;
  flex: 0 0 280px;
  height: max-content;
  background-color: $black;
  border-radius: 12px;
  cursor: pointer;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 8px;
    align-items: center;
    min-height: 40px;
  }

  &__title-input,
  &__card-input {
    padding: 0;
    border: none;
    background-color: $black;
    color: $white;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;

    &:focus {
      outline: none;
    }
  }

  &__card-input {
    padding: 2px;
    font-weight: $font-weight-medium;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__card {
    position: relative;
    border: 1px solid $white;
    border-radius: 8px;

    &:hover {
      border-color: $grey;
      background-color: $grey;
      color: $black;

      .arrow__ll,
      .arrow__rr {
        background-color: $black;
      }
    }
  }

  &__card-content {
    display: flex;
    padding: 8px;
    height: 100%;
    justify-content: space-between;
  }

  &__card_add {
    border: 1px dashed $white;
    padding: 8px;
  }
}

.list_add {
  .list__header {
    margin-bottom: 0px;
    border: 1px dashed $white;

    &:hover {
      border: none;
    }
  }

  &:hover {
    background-color: $grey;
    color: $black;
  }
}
