.list {
  padding: 8px;
  flex: 0 0 280px;
  height: max-content;
  background-color: $black;
  border-radius: 12px;
  cursor: pointer;

  &__header {
    display: flex;
    position: relative;
    padding: 8px;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
  }

  &__title-input {
    padding: 0;
    border: none;
    background-color: $black;
    color: $white;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;

    &:focus {
      outline: none;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__card {
    padding: 8px;
    border: 1px solid $white;
    border-radius: 8px;
  }

  &__card_add {
    border: 1px dashed $white;
  }
}

.list_add {
  color: #fff;
  background-color: $grey;
}

.list-menu-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  width: 22px;
  height: 22px;

  &:hover {
    background-color: #9fadbc;

    .list-menu-icon__dot {
      background-color: black;
    }
  }

  &__dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $white;
  }
}
