.list-menu,
.card-menu {
  color: $white;
  position: absolute;
  padding: 8px 4px;
  right: 0;
  top: 52px;
  background-color: #282e33;
  border-radius: 8px;
  z-index: 50;

  &__item {
    border-radius: 8px;
    animation: menu 0.4s ease-out forwards;

    &:hover {
      background-color: #465059;
    }
  }
}

.card-menu {
  top: 48px;
  right: -1px;
}

@keyframes menu {
  from {
    padding: 0 8px;
  }
  to {
    padding: 8px;
  }
}
