@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

//fonts
$font-family-primary: 'Poppins', sans-serif;
$font-size-medium: 16px;
$font-weight-medium: 400;
$font-weight-bold: 600;

//colors
$white: #b6c2cf;
$black: #101204;
$grey: #9e9e9e;
